<html>
  <body>
    <div class="search-bar">
      <input #inputSearch type="text" class="netflix-input" placeholder="Recherche..." (input)="searchProducts(inputSearch.value)" />
    </div>

    <div *ngIf="searchFailed">Désolé, les produits ne peuvent pas être chargés.</div>
    
    <div class="product-grid">
      <div *ngFor="let produit of produits$ | async" class="product-item">
        
        <p class="movie-name">{{ produit.titre }}</p><p>{{ produit.prix }} €</p>
       <!-- <button class="custom-button" (click)="ajouterAuPanier(produit)">Ajouter au Panier</button>
        <div *ngIf="ajoutConfirmation.get(produit)" class="message-ajout">Article ajouté au panier !</div>-->
      </div>
    </div>

  </body>
</html>
